
//Progressbars
.progress {

  &.progress-xs {
    height: 0.25rem;
  }
}

.nav-material {
  > li {
    position: relative;
    .nav-link {
      &.active {
        border: 0;
        background: transparent;
        border-bottom: 3px solid $brand-primary;
      }
    }
    > .nav-link {
      border: none;
      &.active{
        color: $brand-primary;
      }
    }
    > a {
      color: $default-text-color;
      &:hover {
        border: none;
        color: $brand-primary;
        background: transparent;
      }
      &::after {
        content: "";
        background: $brand-primary;
        height: 3px;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        transition: all 250ms ease 0s;
        transform: scale(0);
      }
    }
    &:hover > a::after {
      transform: scale(1);
    }
    }
  &.nav-material-white {
    border: none;
    > li {
      .nav-link {
        &.active {
          border-color: $white;
        }
        > a {
          color: $white !important;
          &:hover {
            color: $white !important;
          }
          &::after {
            background: $white !important;
          }
        }
      }
    }
  }
  }
.nav-icon-pills{
 .btn-fab {
   padding: 0 !important;
   i {
     color: $brand-primary;
   }
    &.active{
      i{
        color: #fff;
      }
    }
  }
}

//tables
.table thead th {
  font-weight: 400;
  font-size: 12px;
}

@media(max-width: 980px) {
  .tabs-left li.active::after {
    left: 208px
  }
}

@media(max-width: 768px) {
  #lightSlider li img {
    width: 73%;
    margin-right: 20px;
  }
  .mokupSlider li a {
    height: 360px;
  }
}

@include phone {
  #lightSlider li img {
    width: 75%;
    margin: 0;
  }
  .mokupSlider li a {
    height: 130px;
  }
  .tabs-left {
    padding-right: 10px;
  }
  .tabs-left li.active::after {
    border: none;
  }
}

//Alert 
.alert {
  border-radius: 2px;
  font-size: 12px;
  font-weight: 300;
  strong {
    font-weight: 500;
  }
  &.alert-info {
    background-color: #f6fafd;
    border-color: #d9eff7;
  }
  &.alert-warning {
    background-color: rgba(252, 248, 227, .3);
    border-color: #faebcc;
    color: #8a6d3b;
  }
  &.alert-danger {
    background-color: rgba(242, 222, 222, .3);
    border-color: #ebccd1;
    color: #a94442;
  }
  &.alert-success {
    background-color: rgba(223, 240, 216, .3);
    border-color: #d6e9c6;
    color: #3c763d;
  }
}

//Thumbnail
.thumbnail {
  padding: 15px;
  border: 3px solid #f5f8fa;
  iframe {
    height: 180px;
    width: 100%;
  }
}

//badge
.badge {
  //border-radius: 0;
  padding: 6px 10px;
  font-weight: 300;
  &.badge-mini {
    padding: 0;
    font-size: 10px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    vertical-align: middle;
    position: absolute;
    top: 6px;
    right: 6px;
  }
}
//Panels
.panel {
  border-radius: 1px;
}
.panel-heading {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 10px 15px;
}


.thumbnail {
  margin-bottom: 15px;
  .caption {
    padding: 25px 4px 10px;
  }
}

//pagination

.pagination {
  .page-link {
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    margin-left: 10px;
    border-radius: 50% !important;
  }
}

//map
.g-map {
  width: 100%;
  height: 100%;
}

pre {
  color: $default-text-color;
  padding: 10px;
}