//
// Base
// --------------------------------------------------

body {
  color: $default-text-color;
  font-family: $primary-font;
  font-size: 14px;
  height: 100%;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0.2px;
  padding-right: 0 !important;
  //overflow: hidden;
}

a {
  color: $brand-primary;
  &:hover,
  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
  }

}
h5,h6{
  font-weight: 400;
  color: $default-text-color;
  line-height: 1.5;
  margin: 0;
}

.h5{
  letter-spacing: 4px;
  text-transform: uppercase;
}

p {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.2px;
}

img {
  max-width: 100%;
}

ul {
  li {
    list-style: none;
    font-weight: 300;
    i.icon {
     padding-right: 15px;
    }
  }
}

header {
  h2 {
    line-height: 60px;
  }
}

.overflow-hide {
  overflow: hidden;
}
.section {
  padding-bottom: 50px;
  header {
    text-align: center;
    padding-bottom: 50px;
  }
}

.section-heading {
  text-align: center;
  padding-bottom: 40px;
}

.section-title {

  font-weight: 300;
  color: #43484d;
  @include desktop {
    font-size: 52px;
  }
}

.section-subtitle {
  font-size: 22px;
  font-weight: 100;
  line-height: 32px;
  color: #5e6977;
  width: 55%;
  margin: 20px auto 40px;
}

.page {
  margin-bottom: 50px;
}


.block {
  font-size: 14px;
  img {
    border-radius: 3px;
    margin: 15px 0 20px;
    max-width: 100%;
  }
}
ul {
  &.iconList {
    li {
      line-height: 3;
      padding-left: 30px;
      position: relative;
      &:before {
        color: $brand-primary;
        content: "";
        display: inline-block;
        font-family: paperIcons;
      }
    }
  }
  &.arrowIcon {
    li {
      &:before {
        content: "";
      }
    }
  }
  li {

    &:before {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.hero-header {
  position: relative;
  width: 100%;
  background-size: cover;
  background: rgba(28, 36, 65, 0.93);
  background-position: center;
  background-repeat: no-repeat;
  .table {
    display: table;
    height: 100%;
  }
  .header-text {
    display: table-cell;
    vertical-align: middle;
  }
  .container {
    height: 100%;
  }
}



.portfolio-masonry {
  .masonry-post {
    padding: 0 10px;
  }
}

@include lg-desktop {
  .inside {
    margin: 0 auto;
    background: #fff;
    width: 80%;
  }
}
